Repository taylorai/lm-deluge: changes, and which pre-commit hooks are due for each by the changed paths.
All: max-file-lines, banned-strings-backend, banned-weird-spaces

max-file-lines:
  name: Block files over 2 500 lines
  language: script
  entry: scripts/max-lines-check.sh

banned-strings-backend:
  name: Block forbidden strings in backend files
  language: script
  entry: scripts/banned-strings-py.sh

banned-weird-spaces:
  name: Block weird space characters in all text files
  language: script
  entry: scripts/banned-weird-spaces.sh

Add Claude Sonnet 5 support
  src/lm_deluge/api_requests/anthropic.py
  src/lm_deluge/api_requests/bedrock.py
  src/lm_deluge/models/anthropic.py
  src/lm_deluge/models/bedrock.py
  src/lm_deluge/warnings.py
  tests/core/test_bedrock_requests.py
  tests/core/test_claude_sonnet_5_live.py
  tests/core/test_claude_sonnet_5_request.py
  tests/core/test_model_aliases.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

bump version etc.
  docs/src/content/docs/changelog.mdx
  pyproject.toml
  uv.lock
Due: banned-weird-spaces

Forward thinking/effort settings on Bedrock; bump to 0.0.143
  docs/src/content/docs/changelog.mdx
  pyproject.toml
  src/lm_deluge/api_requests/anthropic.py
  src/lm_deluge/api_requests/bedrock.py
  tests/core/test_bedrock_reasoning_forwarding.py
  uv.lock
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Exclude Bedrock Opus 4.5 from GA effort; add live bedrock reasoning test
  docs/src/content/docs/changelog.mdx
  src/lm_deluge/api_requests/anthropic.py
  tests/core/test_bedrock_reasoning_forwarding.py
  tests/one_off/test_bedrock_reasoning_live.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Fix Bedrock summarized thinking round-trip
  src/lm_deluge/api_requests/bedrock.py
  tests/core/test_bedrock_reasoning_forwarding.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Add GPT-5.6 OpenAI models
  README.md
  docs/src/content/docs/changelog.mdx
  src/lm_deluge/api_requests/context.py
  src/lm_deluge/api_requests/gemini.py
  src/lm_deluge/api_requests/openai.py
  src/lm_deluge/client/__init__.py
  src/lm_deluge/config.py
  src/lm_deluge/models/__init__.py
  src/lm_deluge/models/openai.py
  src/lm_deluge/server/models_openai.py
  src/lm_deluge/warnings.py
  tests/core/test_invalid_request_config.py
  tests/core/test_reasoning_effort_minimal.py
  tests/models/test_gpt_5_6.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Fix docs dependency vulnerabilities and migrate to pnpm
  docs/README.md
  docs/package-lock.json
  docs/package.json
  docs/pnpm-lock.yaml
Due: banned-weird-spaces

Harden Python dependency floors and sandbox extras
  pyproject.toml
  requirements.txt
  uv.lock
Due: banned-weird-spaces

Fix Cloudflare worker dependency vulnerabilities
  scripts/cloudflare-sandbox-worker/package-lock.json
  scripts/cloudflare-sandbox-worker/package.json
  scripts/cloudflare-sandbox-worker/pnpm-lock.yaml
  scripts/cloudflare-sandbox-worker/pnpm-workspace.yaml
Due: banned-weird-spaces

Add Claude Opus 5 support
  src/lm_deluge/api_requests/anthropic.py
  src/lm_deluge/api_requests/bedrock.py
  src/lm_deluge/models/anthropic.py
  src/lm_deluge/models/bedrock.py
  tests/core/test_bedrock_requests.py
  tests/core/test_claude_opus_5_request.py
  tests/core/test_model_aliases.py
  tests/one_off/audit_bedrock_opus_5_regions.py
  tests/one_off/test_bedrock_anthropic_models_live.py
  tests/one_off/test_bedrock_global_models_live.py
  tests/one_off/test_bedrock_opus_5_live.py
  tests/one_off/test_claude_opus_5_live.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Fix remaining Python dependency vulnerabilities
  pyproject.toml
  requirements.txt
  uv.lock
Due: banned-weird-spaces

Fix Pygments dependency vulnerability
  pyproject.toml
  requirements.txt
  uv.lock
Due: banned-weird-spaces

Add AWS Lambda MicroVM sandbox support
  scripts/aws-lambda-microvm-sandbox/Dockerfile
  scripts/aws-lambda-microvm-sandbox/README.md
  scripts/aws-lambda-microvm-sandbox/agent.py
  src/lm_deluge/tool/prefab/sandbox/__init__.py
  src/lm_deluge/tool/prefab/sandbox/lambda_microvm_agent.py
  src/lm_deluge/tool/prefab/sandbox/lambda_microvm_image.py
  src/lm_deluge/tool/prefab/sandbox/lambda_microvm_sandbox.py
  tests/core/test_lambda_microvm_agent.py
  tests/core/test_lambda_microvm_image.py
  tests/core/test_lambda_microvm_sandbox.py
  tests/one_off/test_lambda_microvm_sandbox.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Fix pre-release review findings
  docs/README.md
  docs/package.json
  pyproject.toml
  scripts/aws-lambda-microvm-sandbox/agent.py
  scripts/cloudflare-sandbox-worker/package.json
  scripts/deploy-cloudflare-sandbox.sh
  src/lm_deluge/api_requests/anthropic.py
  src/lm_deluge/tool/prefab/sandbox/lambda_microvm_agent.py
  src/lm_deluge/tool/prefab/sandbox/lambda_microvm_image.py
  src/lm_deluge/tool/prefab/sandbox/lambda_microvm_sandbox.py
  tests/core/test_claude_opus_5_request.py
  tests/core/test_lambda_microvm_agent.py
  tests/core/test_lambda_microvm_image.py
  tests/core/test_lambda_microvm_sandbox.py
  uv.lock
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Fix docs Node engines floor and document DeleteMicrovmImage permission
  docs/package.json
  scripts/aws-lambda-microvm-sandbox/README.md
Due: banned-weird-spaces

Prepare 0.0.144 release
  docs/src/content/docs/changelog.mdx
  pyproject.toml
  requirements.txt
  scripts/cloudflare-sandbox-worker/pnpm-workspace.yaml
  scripts/cloudflare-sandbox-worker/src/index.ts
  src/lm_deluge/api_requests/anthropic.py
  src/lm_deluge/client/__init__.py
  src/lm_deluge/tool/prefab/sandbox/lambda_microvm_image.py
  src/lm_deluge/tool/prefab/sandbox/lambda_microvm_sandbox.py
  tests/core/test_lambda_microvm_image.py
  tests/core/test_lambda_microvm_sandbox.py
  tests/core/test_reasoning_effort_max.py
  uv.lock
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Add Muse Spark and stateless Responses support
  README.md
  docs/src/content/docs/examples/chat-loops.md
  docs/src/content/docs/getting-started/installation.md
  docs/src/content/docs/reference/providers.md
  src/lm_deluge/api_requests/context.py
  src/lm_deluge/api_requests/openai.py
  src/lm_deluge/client/__init__.py
  src/lm_deluge/models/__init__.py
  src/lm_deluge/models/meta.py
  src/lm_deluge/prompt/conversation.py
  src/lm_deluge/server/app.py
  tests/models/test_image_models.py
  tests/models/test_muse_spark.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Add spec: unified observable agent loop with streamed tool-call events
  AGENT_LOOP_STREAMING_SPEC.md
Due: none

Fix nemotron-3-ultra registry id (copy-paste collision with minimax-m3 caused duplicate-registration warning and made nemotron unreachable)
  src/lm_deluge/models/openrouter.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

changelog and version bump
  docs/src/content/docs/changelog.mdx
  pyproject.toml
  uv.lock
Due: banned-weird-spaces

Observable Responses agent loop (on_message/trajectory) + lossless v2 conversation logs
  AGENT_LOOP_STREAMING_SPEC.md
  LOG_V2_SPEC.md
  docs/src/content/docs/changelog.mdx
  pyproject.toml
  src/lm_deluge/api_requests/response.py
  src/lm_deluge/client/__init__.py
  src/lm_deluge/prompt/conversation.py
  src/lm_deluge/prompt/message.py
  tests/core/test_file_support.py
  tests/core/test_log_v2_serialization.py
  tests/core/test_openai_responses_tool_calls.py
  uv.lock
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Make MCP client coroutine-safe
  src/lm_deluge/mcp/client.py
  src/lm_deluge/mcp/transports.py
  tests/core/test_mcp_client_concurrency.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Add glm-5.3-openrouter model to openrouter
  src/lm_deluge/models/openrouter.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Bump version to 0.0.147 and update changelog
  docs/src/content/docs/changelog.mdx
  pyproject.toml
Due: banned-weird-spaces

Fix GLM 5.3 reasoning metadata
  src/lm_deluge/models/openrouter.py
  tests/models/test_glm_5_3.py
  uv.lock
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Add new Cloudflare Workers AI models
  src/lm_deluge/api_requests/cloudflare.py
  src/lm_deluge/api_requests/common.py
  src/lm_deluge/api_requests/moondream.py
  src/lm_deluge/models/cloudflare.py
  tests/models/test_cloudflare_models.py
  tests/one_off/test_cloudflare_models_live.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Prepare 0.0.148 release
  docs/src/content/docs/changelog.mdx
  pyproject.toml
  uv.lock
Due: banned-weird-spaces

Add GLM-5.3 Cloudflare support
  src/lm_deluge/models/cloudflare.py
  tests/models/test_cloudflare_models.py
  tests/one_off/test_glm_5_3_cloudflare_live.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Add GLM-5.3 Flash to OpenRouter
  src/lm_deluge/models/openrouter.py
  tests/models/test_glm_5_3.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Prepare 0.0.149 release
  .gitignore
  docs/src/content/docs/changelog.mdx
  pyproject.toml
  uv.lock
Due: banned-weird-spaces

Fix vulnerable dependency versions
  docs/package.json
  docs/pnpm-lock.yaml
  pyproject.toml
  scripts/cloudflare-sandbox-worker/package.json
  scripts/cloudflare-sandbox-worker/pnpm-lock.yaml
  uv.lock
Due: banned-weird-spaces

Add new model support and Fable 5.1 API handling
  README.md
  src/lm_deluge/api_requests/anthropic.py
  src/lm_deluge/api_requests/anthropic_utils.py
  src/lm_deluge/api_requests/bedrock.py
  src/lm_deluge/api_requests/context.py
  src/lm_deluge/api_requests/gemini.py
  src/lm_deluge/api_requests/openai.py
  src/lm_deluge/api_requests/response.py
  src/lm_deluge/client/__init__.py
  src/lm_deluge/models/anthropic.py
  src/lm_deluge/models/bedrock.py
  src/lm_deluge/models/google.py
  src/lm_deluge/models/meta.py
  src/lm_deluge/warnings.py
  tests/core/test_anthropic_response_parsing.py
  tests/core/test_bedrock_reasoning_forwarding.py
  tests/core/test_bedrock_requests.py
  tests/core/test_claude_47_request.py
  tests/core/test_claude_fable_5_request.py
  tests/models/test_gemini_35_flash.py
  tests/models/test_gemini_3_thinking_level.py
  tests/models/test_muse_spark.py
  tests/one_off/audit_bedrock_fable_51_regions.py
  tests/one_off/test_new_models_live.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Add GPT-5.6 Bedrock support and migrate hooks to prek
  .pre-commit-config.yaml
  pyproject.toml
  src/lm_deluge/api_requests/bedrock.py
  src/lm_deluge/api_requests/openai.py
  src/lm_deluge/models/bedrock.py
  tests/models/test_gpt_5_6_bedrock.py
  tests/one_off/test_gpt_5_6_bedrock_live.py
  uv.lock
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Add GPT-6 Astra support
  src/lm_deluge/api_requests/bedrock.py
  src/lm_deluge/api_requests/openai.py
  src/lm_deluge/client/__init__.py
  src/lm_deluge/models/bedrock.py
  src/lm_deluge/models/openai.py
  tests/models/test_gpt_6_astra.py
  tests/models/test_gpt_6_astra_bedrock.py
  tests/one_off/test_gpt_6_astra_live.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Prepare 0.0.150 release and clean checks
  docs/src/content/docs/changelog.mdx
  pyproject.toml
  pyrightconfig.json
  src/lm_deluge/pipelines/gepa/examples/01_synthetic_keywords.py
  src/lm_deluge/pipelines/gepa/examples/simple_qa.py
  src/lm_deluge/tool/prefab/sandbox/docker_sandbox.py
  src/lm_deluge/tool/prefab/sandbox/pybubble_sandbox.py
  src/lm_deluge/tool/prefab/sqlite.py
  src/lm_deluge/util/schema.py
  tests/core/test_bedrock_reasoning_forwarding.py
  tests/core/test_capacity_exceeded.py
  tests/core/test_claude_fable_5_request.py
  tests/core/test_dispatch_improvements.py
  tests/core/test_docker_sandbox_output.py
  tests/core/test_image_utils.py
  tests/core/test_incomplete_response.py
  tests/core/test_just_bash_sandbox.py
  tests/core/test_process_prompts_sync.py
  tests/core/test_responses_reasoning_serialization.py
  tests/core/test_serialization_format_compatibility.py
  tests/core/test_skills.py
  tests/core/test_tool_defs.py
  tests/models/test_gpt_oss_bedrock.py
  tests/one_off/test_bedrock_models.py
  tests/one_off/test_log_format_loading.py
  tests/one_off/test_new_models_live.py
  tests/one_off/test_rate_limit_cooldown.py
  tests/one_off/test_seatbelt_sandbox.py
  tests/one_off/test_server_integration.py
  tests/prefabs/test_sheets.py
  uv.lock
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

fix(docs): upgrade svgo to remediate CVE-2026-84369
  docs/package.json
  docs/pnpm-lock.yaml
Due: banned-weird-spaces

fix: update vulnerable docs and sandbox worker dependencies
  docs/package.json
  docs/pnpm-lock.yaml
  scripts/cloudflare-sandbox-worker/package.json
  scripts/cloudflare-sandbox-worker/pnpm-lock.yaml
Due: banned-weird-spaces

Update GPT-5.6 Luna and Terra pricing
  docs/src/content/docs/changelog.mdx
  src/lm_deluge/models/openai.py
  tests/models/test_gpt_5_6.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Prepare 0.0.151 release
  docs/src/content/docs/changelog.mdx
  pyproject.toml
  uv.lock
Due: banned-weird-spaces

Fix OpenAI cache-write parsing and cost accounting
  docs/src/content/docs/changelog.mdx
  src/lm_deluge/api_requests/response.py
  src/lm_deluge/usage.py
  tests/core/test_openai_cache_write_cost.py
Due: max-file-lines, banned-strings-backend, banned-weird-spaces

Path conditions:
  max-file-lines: any of: \.(py|js|ts|tsx|jsx)$
  banned-strings-backend: any of: \.py$
  banned-weird-spaces: any of: \.(py|js|ts|tsx|jsx|json|yaml|yml|txt|css|scss|sass|less|html|xml|svg|sql|sh|bash|zsh|fish|conf|config|ini|toml|lock|gitignore|gitattributes|dockerignore|editorconfig|env|example|sample)$
